* {
    text-decoration: none;
    list-style: none;
    background-color: rgb(229, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "menu product product product product"
    "menu product product product product"
    "menu product product product product"
    "menu product product product product"
    "footer footer footer footer footer";
    height: 100vh;
    gap: 5px;
    grid-template-columns: 225px repeat(4, 1fr);
    grid-template-rows: 60px repeat(4, 1fr) 60px;
}
header {
    grid-area: header;
    background-color: rgb(15, 15, 128);
    display: flex;
    justify-content: center;
    align-items: top;
    color: white;
  }
  header p {
    background-color:rgb(15, 15, 128) ;
  }
  menu {
    grid-area: menu;
    background-color: rgb(229, 229, 229);
    display: flex;
    margin: 0;
    grid-row: 2/6;
  }
  menu ul {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 2px;
  }
  menu span {
    color: gray;
  }
  main {
    grid-area: product;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/6;
    grid-column: 2/6;
  }
  footer {
    grid-area: footer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 6/7;
    grid-column: 1/6;
  }
  footer p {
    background-color: white;
  }